<!DOCTYPE html>
<html lang="en">
<head>
    <!--meta tags-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/docs.css">
    <script src="https://kit.fontawesome.com/9746709e58.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Bot Discord Premium | Kucluck Pro</title>
</head>

<body>
    <!--HEADER-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-color">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ntoggle" aria-controls="ntoggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="ntoggle">
                  <a class="navbar-brand" href="./index.html">
                  <img src="./img/logo pro big.png" alt="logo" width="80px" height="80px" class="d-inline-block aligh-top">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">  
                  <li class="nav-item">
                    <a class="nav-link" href="./index.html"><i class="fas fa-home"></i>
                      Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./docs.html"><i class="fas fa-layer-group"></i>
                      Docs</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="https://kucluck.com/joinserver" target="_blank" rel="nofollow" title="Discord Server"><i class="fab fa-discord"></i>
                      Discord Server</a>
                  <li class="nav-item">
                    <a class="nav-link" href="https://kucluck.com/addbot" target="_blank" rel="nofollow" title="Invite"><i class="fas fa-user-plus"></i>
                      Invite Bot</a>
                  </li>
                </ul>
                <form class="sosmed">
                  <a href="https://youtube.com/c/lukmannovawiyadi" target="_blank" rel="unfollow" title="Youtube"><i class="fab fa-youtube"></i></a>
                </form>
              </div>
            </div>
    </nav>
    <!--HEAD DOCS-->
    <div class="d-flex justify-content-center command_head">
        <h1>Docs Kucluck Bot</h1>
    </div>
    <!--MENU DOCS-->
    <div class="container px-lg-5" id="command_head">
        <div class="row">
            <div class="col-sm-3" id="category">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-quickstart-list" data-bs-toggle="list" href="#list-quickstart" role="tab" aria-controls="list-quickstart"><i class="fas fa-stopwatch"></i> Quickstart</a>
                    <a class="list-group-item list-group-item-action" id="list-command-list" data-bs-toggle="list" href="#list-command" role="tab" aria-controls="list-command"><i class="far fa-comment-dots"></i> Command Bot</a>
                    <a class="list-group-item list-group-item-action" id="list-donate-list" data-bs-toggle="list" href="#list-donate" role="tab" aria-controls="list-donate"><i class="fas fa-donate"></i> Donate</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="list-quickstart" role="tabpanel" aria-labelledby="list-quickstart-list">
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingWelcome">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseWelcome" aria-expanded="false" aria-controls="flush-collapseWelcome">
                                    Welcome to Kucluck Bot
                                </button>
                            </h2>
                            <div id="flush-collapseWelcome" class="accordion-collapse collapse" aria-labelledby="flush-headingWelcome"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Kucluck Bot adalah bot Discord serba guna yang gratis
                                    dan berkualitas untuk server Discord kalian. Kucluck sangat mudah di invite ke
                                    server Discord kalian tanpa konfigurasi yang rumit.</div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingFitur">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFitur" aria-expanded="false" aria-controls="flush-collapseFitur">
                                    Fitur
                                </button>
                            </h2>
                            <div id="flush-collapseFitur" class="accordion-collapse collapse" aria-labelledby="flush-headingFitur" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h3>Dengerin Musik</h3>
                                    <p>Aku bisa memainkan musik bisa dari beberapa situs yang kami dukung yaitu
                                        Youtube dan Spotify. Jadi kamu bisa dengerin musik apa aja bareng temen yang
                                        ada di voice channel kamu.
                                        <br>
                                        <center><img src="https://cdn.discordapp.com/attachments/898516000604061699/904138589535879219/unknown.png">
                                        </center>
                                    </p>
                                    <br>
                                    <h3>Menambahkan Playlist</h3>
                                    <p>Dengerin lagu enaknya gak cuman sekali, aku bisa loh menambahkan playlist
                                        dari yang kalian bikin.
                                        <br>
                                        <center><img src="https://cdn.discordapp.com/attachments/901464271920168960/904143918474616862/unknown.png"></center>
                                        <br>
                                        <center><img src="https://cdn.discordapp.com/attachments/901464271920168960/904143993259053136/unknown.png"></center>
                                    </p>
                                    <br>
                                    <h3>Melihat Avatar Member</h3>
                                    <p>Aku bisa liatin avatar member kamu dengan jelas loh.
                                        <br>
                                        <center><img
                                                src="https://cdn.discordapp.com/attachments/898516000604061699/904139397627252756/unknown.png">
                                        </center>
                                    </p>
                                    <br>
                                    <h3>Online 24/7</h3>
                                    <p>Aku selalu online 24 jam nonstop di voice channel walaupun tidak ada lagu
                                        yang dimainkan
                                        <br>
                                        <center><img src="https://pro.kucluck.com/img/voice%20channel%2024jam.png">
                                        </center>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingInvite">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseInvite" aria-expanded="false" aria-controls="flush-collapseInvite">
                                    Invite Bot
                                </button>
                            </h2>
                            <div id="flush-collapseInvite" class="accordion-collapse collapse" aria-labelledby="flush-headingInvite"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Menggunakan Kucluck Bot di server kalian sangat mudah.
                                    Kalian bisa invite Kucluck Bot dengan mengautentikasikan akun Discord kalian
                                    menggunakan tombol di bawah. Tapi kalian harus memiliki permissions untuk dapat
                                    melakukannya.
                                    <br>
                                    <br>
                                    <center><a href="https://kucluck.com/addbot" class="btn-donate" target="_blank" rel="nofollow" title="Invite">Invite</a></center>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingCH">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseCH" aria-expanded="false" aria-controls="flush-collapseCH">
                                    Join Channel
                                </button>
                            </h2>
                            <div id="flush-collapseCH" class="accordion-collapse collapse" aria-labelledby="flush-headingCH"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Kami mengundang kalian semua ke Discord Server kami,
                                    untuk diskusi, saran, dan informasi.
                                    <br>
                                    <br>
                                    <center><a href="https://kucluck.com/joinserver" class="btn-donate" target="_blank" rel="nofollow"
                                            title="Join">Join</a></center>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="tab-pane fade" id="list-command" role="tabpanel" aria-labelledby="list-command-list">
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Cara Menggunakan Command
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">Untuk menggunakan kucluck bot, kalian bisa menggunakan
                                    prefix (!!) dan ditambah command.
                                    <br>
                                    <br>
                                    <center><img
                                            src="https://media.discordapp.net/attachments/898516000604061699/904066379404169296/command.PNG" />
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingMusik">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseMusik" aria-expanded="false" aria-controls="flush-collapseMusik">
                                    Musik Command
                                </button>
                            </h2>
                            <div id="flush-collapseMusik" class="accordion-collapse collapse" aria-labelledby="flush-headingMusik"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table>
                                        <th>Command</th>
                                        <th>Penjelasan</th>
                                        <th>Contoh</th>
                                        <tr>
                                            <td>!!play (URL)</td>
                                            <td>Mainkan lagu dengan URL yang kamu inginkan. Lihat sumber URL yang di
                                                dukung dibawah</td>
                                            <td>!!p https://www.youtube.com/watch?v=hpYPwMQsT38</td>
                                        </tr>
                                        <tr>
                                            <td>!!play Kata-kata</td>
                                            <td>Mainkan lagu dengan kata, biarkan bot yang berkerja mencari lagu
                                            </td>
                                            <td>!!p ncs song </td>
                                        </tr>
                                        <tr>
                                            <td>!!stop</td>
                                            <td>Memberhentikan lagu yang sedang di putar</td>
                                            <td>!!st</td>
                                        </tr>
                                        <tr>
                                            <td>!!pause</td>
                                            <td>Menjeda lagu yang sedang di putar</td>
                                            <td>!!pause</td>
                                        </tr>
                                        <tr>
                                            <td>!!resume</td>
                                            <td>Melanjutkan lagu yang sedang di jeda</td>
                                            <td>!!resume</td>
                                        </tr>
                                        <tr>
                                            <td>!!skip</td>
                                            <td>Melewatkan lagu yang sedang diputar sekarang</td>
                                            <td>!!s</td>
                                        </tr>
                                        <tr>
                                            <td>!!playlist</td>
                                            <td>Melihat playlist lagu yang kamu request</td>
                                            <td>!!pl</td>
                                        </tr>
                                        <tr>
                                            <td>!!shuffle</td>
                                            <td>Mengacak playlist lagu yang sudah kamu request</td>
                                            <td>!!shuffle</td>
                                        </tr>
                                        <tr>
                                            <td>!!remove</td>
                                            <td>Membuang lagu yang ada di playlist</td>
                                            <td>!!remove</td>
                                        </tr>
                                        <tr>
                                            <td>!!join</td>
                                            <td>Mengajak bot untuk join voice channel</td>
                                            <td>!!j</td>
                                        </tr>
                                        <tr>
                                            <td>!!leave</td>
                                            <td>Mengeluarkan bot dari voice channel</td>
                                            <td>!!lv</td>
                                        </tr>
                                    </Table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingInfo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseInfo" aria-expanded="false" aria-controls="flush-collapseInfo">
                                    Information Command
                                </button>
                            </h2>
                            <div id="flush-collapseInfo" class="accordion-collapse collapse" aria-labelledby="flush-headingInfo"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table>
                                        <th>Command</th>
                                        <th>Penjelasan</th>
                                        <th>Contoh</th>
                                        <tr>
                                            <td>!!ping</td>
                                            <td>Menampilan latensi bot dan latensi websocket. </td>
                                            <td>!!ping</td>
                                        </tr>
                                        <tr>
                                            <td>!!help</td>
                                            <td>Kami akan mengirimkan ada Direct Message untuk melihat command Help</td>
                                            <td>!!help</td>
                                        </tr>
                                        <tr>
                                            <td>!!premiumstatus</td>
                                            <td>Kami akan mengirimkan ada Direct Message untuk melihat command Premium</td>
                                            <td>!!prostat</td>
                                        </tr>
                                        <tr>
                                            <td>!!premium</td>
                                            <td>Kami akan mengirimkan ada Direct Message untuk melihat command Premium</td>
                                            <td>!!pro</td>
                                        </tr>
                                    </Table>
                                </div>
                            </div>
                        </div>
                        <div class="accordion">
                            <h2 class="accordion-header" id="flush-headingFun">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFun" aria-expanded="false" aria-controls="flush-collapseFun">
                                    Fun Command
                                </button>
                            </h2>
                            <div id="flush-collapseFun" class="accordion-collapse collapse" aria-labelledby="flush-headingFun"
                                data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <table>
                                        <th>Command</th>
                                        <th>Penjelasan</th>
                                        <th>Contoh</th>
                                        <tr>
                                            <td>!!ping</td>
                                            <td>Kami akan akan membalasnya.</td>
                                            <td>!!ping</td>
                                        </tr>
                                        <tr>
                                            <td>!!avatar</td>
                                            <td>Aku bisa liatin avatar member kamu dengan jelas loh.</td>
                                            <td>!!ava</td>
                                        </tr>
                                    </Table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-donate" role="tabpanel" aria-labelledby="list-donate-list">
                        <h2>Yuk Support Kucluck Bot</h2>
<p>Kami sangat senang menemani kalian mendengarkan musik di server Discord kalian sambil
    bermain game atau sambil ngobrol dengan teman-teman kalian. Tapi sebelumnya kami meminta
    maaf kalau kami masih banyak kekurangan, tapi dengan adanya dukungan kalian kami akan
    terus berkembang dari waktu ke waktu.</p>
<p>Perkembangan akan terus kami lakukan, maka dari itu dengan adanya halaman ini, kami
    berharap kalian bisa ikut turut serta membantu kami dalam mengembangkan Kucluck Bot
    kami.</p>
<p>Kami akan berterimakasih banyak untuk kalian yang ikut turut serta membantu pengembangan
    Kucluck Bot ini. dan kami akan memberikan fitur <strong>PREMIUM</strong> yang kalian
    bisa gunakan di channel Discord kalian loh...</p>
<br>
<h2>Fitur Premium:</h2>
<li>Shuffle Playlist</li>
<li>24/7 Join Voice Channel</li>
<li>Kick/Ban Member</li>
<small>
    <p>*Jika kalian ada request untuk menambahkan fitur premium bisa PM discord Lukman
        Novawiyadi</p>
</small>
<p>Bagi kalian yang ingin menggunakan fitur ini kalian cukup donate sebesar <b>IDR
        20.000</b> saja loh, dan kalian bisa menikmati fitur ini sepuasnya.</p>
<center><a href="https://saweria.co/kucluck" class="btn-donate" target="_blank" rel="nofollow" title="Donate">Donate</a>
</center>
<br>
<p>Jika kalian sudah donate kalian cukup join ke channel Discord kami dan kirimkan bukti pembayaran kalian ke<br>
    <center><img src="https://pro.kucluck.com/img/lukman%20novawiyadi%20img.png"></center>
</p>
<br>
<h2>Join to Kucluck Lounge</h2>
<p>Kami mengundang kalian semua ke Discord Server kami, untuk diskusi, saran, dan
    informasi.
    <center><a href="https://kucluck.com/joinserver" class="btn-donate" target="_blank" rel="nofollow" title="Join">Join</a>
    </center>
    <br>
</p>
<br>
<h2>Credits</h2>
<p>Dengan ketekunan dan keyakinan yang matang, Kucluck Pro dikembangkan sendiri oleh Lukman Novawiyadi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <footer class="footer">
        <div class="container-fot">
            <div class="row">
                <div class="footer-col">
                    <h4>Kucluck Bot</h4>
                    <ul>
                        <li><a href="./docs.html" title="Quickstart">Quickstart</a></li>
                        <li><a href="https://kucluck.com/addbot" target="_blank" rel="nofollow" title="Add to Server">Add to server</a></li>
                        <li><a href="https://kucluck.com/joinserver" target="_blank" rel="nofollow" title="Discord Channel">Discord channel</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Sosial Media</h4>
                    <ul>
                        <li><a href="https://web.facebook.com/lukman.now" target="_blank" rel="nofollow" title="Facebook">Facebook</a></li>
                        <li><a href="https://www.instagram.com/lukman_nov/" target="_blank" rel="nofollow" title="Instagram">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/lukmannovawiyadi" target="_blank" rel="nofollow" title="Youtube">Youtube</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="./disclaimer.html" title="Disclaimer">Disclaimer</a></li>
                        <li><a href="./tos.html" title="Terms of Service">Terms of Service</a></li>
                        <li><a href="./policy.html" title="Privacy Policy">Privacy Policy</a></li>
                    </ul>
                </div>
    
                <div class="footer-col-right">
                    <h4>Kucluck<small>™</small></h4>
                    <p>Bot Discord serba guna yang gratis dan berkualitas untuk server Discord kalian.</p>
                    <p><small>copyright &copy; 2021 <a href="#" style="color: #c5c5c5">kucluck.com</a>
                            | Designed by <a href="https://web.facebook.com/lukman.now" target="_blank" rel="nofollow" style="color: #c5c5c5">Lukman Novawiyadi</a></small></p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>