/**
    Background color : #1f1f20
    Color text : #eeeeee
    Color ungu : #7747b6
    Color ungu gelap : #593686


**/

body {
    color: #eeeeee;
    height: 100px;
    font-size: 17px;
    background-color: #1f1f20;
    background-image: url("/views/img/background-head-2.png");
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

/**Header**/
nav{
    max-width: 1400px;
    padding: 10px;
}

nav ul li{
    font-size: 20px;
    font-weight: bold;
  }
  nav ul li a{
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    line-height: center;
    margin-left: 10px;
    border-radius: 50px;
  }
  nav ul li a:hover{
    background-color: rgba(221, 221, 221, 0.342);
  }

  form {
      display: flex;
      background-color: #FFFFFF8C;
      width: 100px;
      height: 40px;
      text-align: center;
      border-radius: 8px;
      font-weight: 700;
      overflow: hidden;
      transition: 0.1s;
    }
    form:hover{
        background-color: #b9b9b98c;
    }
    form:active{
        transform: scale(95%);
    }
    .login-text{
        padding: 10px;
        padding-top: 4px;
        font-size: 20px;
    }

/**Main Body**/

.logo{
    padding-top: 120px;
}

.logo_dc{
    color: transparent;
    stroke-width: 5px;
    stroke: #7747b6;
    cursor: pointer;
    position: relative;
}
.logo_dc svg{
    overflow: visible;
    width: 15rem;
}
.logo_dc path{
    stroke-dashoffset: 0;
    stroke-dasharray: 2100;
    transform: center;
}
.discord_logo_bg{
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
}
.discord_logo path{
    animation: stroke-animation 2s ease-in-out forwards;
}

@keyframes stroke-animation{
    0%{
        stroke-dashoffset: 0;
    }
    10%{
        transform:translateY(50px)
    }
    20%{
        transform:translateY(0px)
    }
    30%{
        transform:translateY(40px)
    }
    40%{
        transform:translateY(0px)
    }
    50%{
        stroke-dashoffset: 2100;
        stroke: #ddc3ff;
        transform:translateY(30px)
    }
    60%{
        fill: transparent;
        transform:translateY(0px)
    }
    70%{
        transform:translateY(20px)
    }
    80%{
        fill: var( #c69aff);
        transform:translateY(0px)
    }
    90%{
        transform:translateY(10px)
    }
    100%{
        stroke-dashoffset: 0;
        color:  #7747b6;
        transform:translateY(0px)
    }
}



.head {
    color: #eeeeee;
    text-align: center;
    line-height: 1.3;
    
}

.subtext {
    color: #eeeeee;
    text-align: center;
    line-height: 1.3;
}
.subtext2 {
    padding-bottom: 100px;
    color: #eeeeee;
    text-align: center;
    line-height: 1.3;
}

a.tbl-pink {
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    padding-top: 9px;
    border: none;
    background: #7747b6;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: .3d linear;
    font-display:inherit;
    text-decoration: none;
}
a.tbl-pink:hover {
    transform: rotateY(15deg);
    box-shadow: 0 -5px transparent;
    background: #593686;
}

/**Fitur**/

.line-atas{
    margin-top: 100px;
    width: 200px;
    border: 1px solid #ddc3ff;
    margin-bottom: 15px;
}
.line-end{
    margin-top: 100px;
    max-width: 1300px;
    width: 100%;
    border: 1px solid #ddc3ff;
}

.line-end2{
    max-width: 1300px;
    width: 100%;
    border: 1px solid #ddc3ff;
}
.col-md-3.mid{
    margin: auto;
    margin-bottom: 40px;
    background-color:#24262b;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-3{
    margin: auto;
    background-color:#24262b;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.col-md-3 i{
    margin: auto;
    padding: 15px;
    position: relative;
    margin: auto;
    color: #ddc3ff;
}
.col-md-3 hr{
    height: 5px;
    color: #f45353;
}
.col-md-3 p{
    padding: 10px;
    text-align: center;
}
.col-md-3 {
    padding: 10px;
    text-align: center;
}
.img-pb{
    display: flex;
    position: relative;
    margin: auto;
    padding: 5px;
}
.img-pb img{
    margin: auto;
    padding: 10px;
}
.fas.fa-undo-alt.pb{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.container{
    max-width: 1300px;
}
.pt-10{
    padding-top: 15rem!important;
}
.custom-1 img{
    float: right;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.custom-1 h3{
    font-size: 40px;
}
.custom-1 p{
    width: 60%;
}
.svg-musik{
    width: 8%;
}

.svg-musik:hover{
    transform: rotateY(40deg);
    box-shadow: 0 -5px transparent;
    color: #593686;
    background: none;
    text-decoration: none;
}

.custom-2 h3{
    font-size: 40px;
}

.custom-2 img{
    float: left;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.custom-2 h3{
    float: right;
    padding-top: 30px;
    width: 70%;

}
.custom-2 p{
    float: right;
    width: 70%;
}
.custom-2 a{
    font-size: 40px;
    font-weight: bolder;
}
.svg-24jam{
    width: 11%;
}

.svg-24jam:hover{
    transform: rotateY(40deg);
    box-shadow: 0 -5px transparent;
    color: #593686;
    background: none;
    text-decoration: none;
}

/** FOOTER **/

.container-fot{
    max-width: 1300px;
    margin: auto;
}
.row{
    
    width:100%;
    padding: 1%;
    margin: auto;
    display: flex;
	flex-wrap: wrap;
}
footer{
    background-color: #24262b;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
	transform: translate(-0%,-0%);
    margin: 300px 0px 0px 0px;
}
.footer-col{
    width: 250px;
    padding: 15px;

}
.footer-col h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #7747b6;
	height: 2px;
	box-sizing: border-box;
	width: 80px;
}
ul {
	list-style: none;
    padding: 0;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 5px;
}
.footer-col ul li a{
	font-size: 15px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #7747b6;
	padding-left: 8px;
}

.footer-col-right{
	padding: 15px;
    width: 524px;
}

.footer-col-right h4{
	 font-size: 30px;
	 color: #ffffff;
	 margin-bottom: 0px;
	 font-weight: 500%;
}
.footer-col-right p{
    font-size: 15px;
}

/**MEDIA**/

@media screen and (max-width: 967px) {
    .col-md-3{
        margin: auto;
        margin-bottom: 40px;
        background-color:#24262b;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .d-flex p{
        text-align: center;

    }
    .col-md-3.mid{
        margin: auto;
        margin-bottom: 40px;
        background-color:#24262b;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .custom-1 img{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 400px;
        height: auto;
    }
    .pt-10 {
        padding-top: 5rem !important;
    }
    .custom-1 p{
        text-align: center;
        width: 100%;
    }
    .custom-1 h3{
        text-align: center;
    }
    .svg-musik{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 10%;
        max-width: 400px;
        height: auto;
    }

    .custom-2 img{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 400px;
        height: auto;
    }
    .pt-10 {
        padding-top: 5rem !important;
    }
    .custom-2 p{
        text-align: center;
        float: none;
        width: 100%;
    }
    .custom-2 h3{
        float: none;
        text-align: center;
        width: 100%;
    }
    .svg-24jam{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15%;
        max-width: 400px;
        height: auto;
    }
    .footer-col{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        padding: 15px;
}
}